*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products{
    padding: 20px 30px;
    width: 100%;
}
.products h3{
    font-size: 30px;
    letter-spacing: 1px;

}
.products p{
font-size: 20px;
margin-top: 4.5px;
}
.products .container{
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;

}
.products .container .filter{
    padding: 20px 30px;
}
.products .container .filter .categories h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
.products .container .filter .categories .first{
    font-size: 18px;
    text-decoration: underline;
}
/*  */
.products .container .filter .categories ul{
    margin-top: 10px;
}
.products .container .filter .categories ul li{
list-style: none;
margin-top: 20px;
cursor: pointer;
}

.products .container .productbox .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products .container .productbox .container .box{
    padding: 10px 20px;
    width: 280px;
    height: 380px;
    margin-bottom: 20px;

    border: 1px solid rgba(0,0,0,0.2);
  }
  .productbox .container .box .img_box img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    padding-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  .productbox .container .box:hover{
    box-shadow: 6px 5px 31px 0px rgba(0,0,0,0.48);
  -webkit-box-shadow: 6px 5px 31px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 6px 5px 31px 0px rgba(0,0,0,0.48);
  }
  
  .productbox .container .box .img_box .icon {
    display: flex;
    justify-content: flex-end;
  }
  .productbox .container .box .img_box .icon li{
    list-style: none;
  padding: 5px 10px;
  color: rgb(211, 51, 51);
  cursor: pointer;
  border: 1px solid rgb(223, 223, 246);
  background: white;
  margin-bottom: 5px;
  box-shadow: 6px 5px 31px 0px rgba(0,0,0,0.2);
  transition: 0.5s;
  }
  .productbox .container .box .img_box .icon li:hover{
    background: #b3e0f8;
    color: black;
    font-weight: bolder;
  }

  .product_detail {
    width: 100%;
    height: 120%;
    background: rgb(0,0,0,0.20);
    position: fixed;
    z-index: 1;
    align-items: center;
    margin-top: -10%;
  }
  
  .product_detail .container{
    margin-top: 10%;
    margin-left: 18%;
    width: 900px;
    height: 500px;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow:rgba(0,0,0,0.24) 0px 3px 8px ;
  }
  .product_detail .container .closebtn{
    border: none;
    outline: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
  }
  .product_detail .container .productbox{
    max-width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 20px 30px;
  }
  .product_detail .productbox img{
    width: 300px;
    height: 300px;
    padding: 20px 30px;
  }
  .product_detail .container .productbox .detail button{
    margin-top: 30px;
    padding: 15px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }